@model MVCWebAssignment1.Models.MeetViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Meet.MeetName</h2>



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meet.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meet.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meet.PoolLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meet.PoolLength)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Meet.Venue.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meet.Venue.VenueName)
        </dd>

    </dl>
</div>
<div>
    <hr />

    <h4>Events</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].AgeRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].SwimmingStroke)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayName("Actions")
                </th>
            }

        </tr>

        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SwimmingStroke)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Details","Event", new { id = item.Id })';return false;">Event Details</button>
                        <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Event",new { id = item.Id })';return false;">Delete Event</button>
                    }
                </td>
            </tr>
        }
    </table>
    <button class="btn btn-primary glyphicon glyphicon-list" data-toggle="tooltip" title="Back to meets" onclick="location.href='@Url.Action("Index")';return false;"></button>
    @if (User.IsInRole("Admin"))
    {
        <button class="btn btn-primary glyphicon glyphicon-cog" data-toggle="tooltip" title="Edit @Model.Meet.MeetName" onclick="location.href='@Url.Action("Edit", new {id = Model.Meet.Id })';return false;"></button>
        <button class="btn btn-success glyphicon glyphicon-plus" data-toggle="tooltip" title="Add new Event" onclick="location.href='@Url.Action("Create", "Event", new {MeetId = Model.Meet.Id })';return false;"></button>
    }

</div>
