@model MVCWebAssignment1.Models.RoundViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Round</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Round.RoundNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Round.RoundNumber)
        </dd>

    </dl>
</div>
<h4>Lanes</h4>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lanes[0].LaneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lanes[0].Swimmer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lanes[0].FinishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lanes[0].LaneComment)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Lanes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LaneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Swimmer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaneComment)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Event", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Round", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
<button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Lane",new {RoundId = Model.Round.Id})';return false;">Add Lane</button>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Round.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
